body {
    background-color: #F1EED9;
    font-family: 'Roboto Mono', monospace;
    color: #46433A;
    width: 100%;
    font-size: 1em;
}

h2 {
    font-size: 1.8em;
}

h1 {
    font-size: 2em;
}

nav {
    margin-top: 10px;
}

nav ul li a {
    font-size: 1.3em;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "left right" "total total";
    grid-column-gap: 30px;
}

#aboutMe {
    margin-bottom: -180px;
}

body {
    margin: 0%;
}

.left {
    grid-area: left;
    height: 85%;
}

.right {
    grid-area: right;
    height: 85%;
}

.total {
    grid-area: total;
}

img {
    width: 100%;
    border-radius: 5px;
}

#fotoDescripcion {
    margin-top: 10px;
    width: 60%;
    float: right;
}

#textoDescripcion {
    width: 60%;
    float: left;
    margin-top: -15px;
}

.hrNegra {
    height: 100px;
    background-color: black;
    margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    text-align: center
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    margin-right: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#redes ul li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
}

#redes ul li img {
    width: 30px;
}

#redes ul li a {
    font-size: 1em;
    padding-top: 5px;
    margin-left: 7px;
}

a {
    color: #AF093D;
}

.tituloSeccion {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 30px;
    font-weight: 100;
    margin-top: 50px;
}

.itemExperiencia {
    margin-bottom: 70px;
    width: 60%;
    margin-left: 20%;
}

.empresa h2 {
    display: inline;
    text-align: center;
    font-size: 1.5em;
}

footer {
    padding-top: 3%;
    height: 50px;
    width: 100%;
    background-color: black;
    color: #AF093D;
    text-align: end
}

@media (max-width: 1500px) {
    #fotoDescripcion {
        width: 65%;
        float: right;
    }
    #textoDescripcion {
        width: 70%;
        float: left;
    }
}

@media (max-width: 1300px) {
    #fotoDescripcion {
        width: 70%;
        float: right;
    }
    #textoDescripcion {
        width: 80%;
        float: left;
    }
}

@media (max-width: 1200px) {
    #fotoDescripcion {
        width: 90%;
        float: right;
    }
    #textoDescripcion {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    nav ul li {
        margin-top: 5px;
        display: block;
    }
    body {
        font-size: 0.8em;
    }
    #fotoDescripcion {
        width: 100%;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #aboutMe {
        margin-bottom: 0%;
    }
    .left {
        grid-area: left;
        flex-basis: auto;
        width: 70%;
    }
    .right {
        grid-area: right;
        text-align: center;
        width: 80%;
    }
    #textoDescripcion {
        width: 100%;
    }
    .tituloSeccion {
        margin-top: 0px;
    }
    .itemExperiencia {
        text-align: center;
        width: 90%;
        margin: 0px 0px 40px 0px;
    }
    .total {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hrNegra {
        width: 100%;
    }
    .tituloSeccion {
        width: 100%;
    }
    h2 {
        width: 90%;
    }
    footer {
        padding-top: 1%;
        height: 20px;
        width: 100%;
        background-color: black;
        color: #AF093D;
        text-align: end
    }
}